body{
    font-family: "Times New Roman";
}


img{
    height: 300px;
    width: 500px;
}

p2{
    background-color: orangered;

}

ul{
    background-color: green;
    width: 300px;
    margin: 10px;

}

ol{
    background-color: hotpink;
    width: 300px;
    margin: 10px;
}

a{
    font-size: 30px;
}