h1 {
    font-family: Arial;
    font-weight: 800;
    font-size: 50px;
    background-color: blue;
    color: white;
    padding: 10px;

    height: 80px;
    width: 700px;

}




.li1{
    font-family: Arial;
    font-weight: 500;
    font-size: 30px;
    background-color: red;
    height: 150px;
    width: 240px;

    padding: 10px;
    margin-bottom: 1000000px;
    border: 1px solid black;
}

.li2{
    font-family: Arial;
    font-weight: 500;
    font-size: 30px;
    background-color: yellow;
    height: 15px;
    width: 240px;

    padding: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
}

.li3{
    font-family: Arial;
    font-weight: 500;
    font-size: 30px;
    background-color: orangered;
    height: 150px;
    width: 240px;

    padding: 10px;
    margin-top: 100px;
    border: 1px solid black;
}

a:visited {
    color: hotpink;
}