h1 {
    font-family: Arial;
    font-weight: 800;
    font-size: 50px;
    background-color: blue;
    color: white;
    padding: 10px;

    height: 80px;
    width: 700px;

}

ul{
    font-family: Arial;
    font-weight: 500;
    font-size: 30px;
    background-color: yellow;
    height: 150px;
    width: 240px;

    padding: 30px;
    margin: 10px;
}

a:visited {
    color: hotpink;
}